{{!-- Navbar --}}
<nav class="container-fluid bg-white border-bottom border-dark">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-md-5 d-flex justify-content-md-start justify-content-center">
            <img src="/assets/img/mainlogo.png" alt="Team Builders" class="logoimg" />
        </div>
        <div class="col-md-6 mb-2 mb-md-0 mr-md-2">
            <ul class="navbar-nav flex-row justify-content-md-end justify-content-center">
                {{#if user }}
                <li class="nav-item">
                    <a class="nav-link px-2 mx-2 current-nav navstyle" href="/dashboard">Home<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-0 mt-2 border-left navstyle" href="/user">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-0 mt-2 border-left border-right navstyle" href="/cardgame">Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 mx-2 navstyle" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link px-2 mx-2 current-nav navstyle" href="/">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-0 mt-2 border-left navstyle" href="/login" tabindex="-1"
                        aria-disabled="true">Log In</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

{{!-- Home Page Content --}}
<div class="container">
    <div class="container d-flex justify-content-center">
        <img src="/assets/img/logo.png" alt"circle logo" class="img-style">
    </div>
    {{!-- <p class="h6">Due to the unprecedented shift to a remote workforce, it can be difficult for teams to create and maintain a cohesive bond. New members joining a team may find it harder to connect with peers. Managers may not have the right tools to help bring their team together. Team Builders aims to help build teams, foster creativity, and strengthen culture!</p> --}}
    <div class="row d-flex justify-content-center">
    <a href="/login" class="btn bg-lt-blue text-white btn-text btn-width3 mr-5">SIGN UP</a>
    <a href="/login" class="btn bg-lt-blue text-white btn-text btn-width3 ml-5">LOGIN</a>

    </div>
</div>

{{!-- Footer --}}
<footer class="footer-margin bg-white">
    <div class="navbar fixed-bottom navbar-dark bg-purple justify-content-center">
        <span class="navbar-brand footer-font blue align-middle">Copyright &copy;2020
            &ThickSpace;|&ThickSpace;
            Team Builders</span>
        <span>
            <a class="fab fa-github fa-2x lt-blue" href="https://github.com/hilbug/the-team-builders"
                target="_blank"></a>
            &ThickSpace;
        </span>
    </div>
</footer>