/* https://github.com/Ul1ra/MemGame/blob/master/css/styles.css */

.deck {
    width: 660px;
    min-height: 680px;
    background-color:rgba(50,150,190,1);
    /* background: white; */
    padding: 32px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #2e3d49;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 0 3em;
}

.deck .gamecard {
    height: 125px;
    width: 125px;
    background-image: url("/assets/img/logoimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgba(50,150,190,1); */
    font-size: 0;
    color: #5b247a;
    border-radius: 8px;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .gamecard.open {
    transform: rotateY(0) !important;
    background-image: none;
    background-color:white;
    cursor: default;
}

.deck .gamecard.show {
    font-size: 20px;
    background-image: none;
}

.deck .gamecard.match {
    cursor: default;
    background-image: none;
    border-color:rgba(50,150,190,1);
    border-style: double;
    border-width: 5px;
    background-color: lightgray;
    font-size: 20px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* The card board is hidden to start */
.show-cards,
.game-instruct {
    display: none;
}

.game-form {
    margin-bottom: 75px;
}