/* https://github.com/Ul1ra/MemGame/blob/master/css/styles.css */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #cacaca 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #2e3d49;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 0 3em;
   
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ff00c8;
    border-radius: 8px;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);;
}

.deck .card.open {
    transform: rotateY(0) !important;
    background: #4e754e;
    cursor: default;
}

.deck .card.show {
    font-size: 50px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 50px;
}

/* The card board is hidden to start */
.show-cards,
.game-instruct {
    display: none;
}

form {
    margin-bottom: 75px;
}